@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');

body {
		font-family: 'Roboto Slab', sans-serif;
		background-image: url('/img/the_background_compressed.jpg');
		background-attachment: fixed;
		background-size: 100%;
		margin: 0;
}

.budgify-app {
	height: 100vh;
	width: 100vw;
	background-color: rgba(255,255,255,0.3);
	background-attachment: fixed;
	/* background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 8%,rgba(255,255,255,0.7) 28%,rgba(255,255,255,0.5) 78%,rgba(255,255,255,0) 100%); */
	/* box-shadow: 3px 3px 5px grey;
	border-radius: 40px;
	max-width: 800px;
	height: 400px;
	margin: 100px 100px;
	transition: box-shadow 2s ease; */
}

.row {
	display: inline-block;
	width: 100%;
	padding: 10px 10px;
}
	.row .column {
		/* margin: 10px 10px; */
		display: inline-block;
	}
	.row .column {
		width: 100%;
	}
	.row .column.half {
		width: 50%;
	}
	.row .column.third {
		width: 33.5%;
	}
	.row .column.quarter {
		width: 25%;
	}
	.row .column.fifth {
		width: 20%;
	}
	
.budgify-app:hover {
	box-shadow: 3px 3px 40px grey;
}

.module {
	padding: 20px 40px;
}

.main-module {
	width: 50%;
	display: inline-block;
}
	.main-module:last-child {
			width: 35%;
			vertical-align: top;
	}
	.main-module #change-area {
		background-color: rgba(64, 165, 171, 0.2);
		padding: 20px 15px;
		border-radius: 25px;
	}

.budgify-app .title {
		max-width: 100%;
		-webkit-font-smoothing: antialiased;
		color: rgb(64, 119, 171);
		text-shadow: 2px 2px 5px black;
		padding: 20px 40px 0 40px;
		border-top-left-radius: 40px;
		border-top-right-radius: 40px;
		font-size: 80px;
		font-family: 'Roboto Slab', sans-serif;
		font-weight: 900;
		letter-spacing: 3px;
}

.reset {
	border-radius: 35px;
	margin: 0 0 20px 40px;
	min-width: 0;
	height: 30px;
	width: 130px;
	float: left;
	font-size: 12px;
	background-color: rgba(244, 155, 66, 0.8);
	border: 1px solid white;
	color: white;
}
	.reset:hover {
		
	}

.currentBalance {
	font-size: 45px;
	color: rgb(64, 165, 171);
	font-weight: 700;
	text-shadow: 1px 1px 2px black;
}

#change-area {
	padding-left: 40px;
}
#change-area .changer {
	padding: 5px 0;
}

input, button, select {
	height: 40px;
	border: 1px solid grey;
	font-weight: 700;
	transition: all 0.4s ease;
	font-size: 17px;
	padding-left: 10px;
	margin-right: 10px;
}
button:hover, select:hover {
	cursor: pointer;
	background-color: rgba(64, 165, 171, 0.6);
	color: white;
	border-color: white;
}
input {
	border-radius: 10px;
	min-width: 215px;
	transition: all 0.3s ease-in-out;
}
input:hover {
	transform: scale(1.2);
	opacity: 0.9;
}
button {
	border-radius: 2px;
	margin: 0 0px;
	min-width: 200px;
	float: right;
}

select {
	width: 250px;
}
select:hover {
	transform: scale(1.2);
	opacity: 0.9;
}

.module.expenseItems {
	padding-top: 0;
}
.module.expenseItems .addingArea {
	/* width: 95%; */
	padding: 20px 15px 0 15px;
	background-color: rgba(64, 165, 171, 0.2);
	border: 3px solid slate;
	border-radius: 25px;	
}
	.module.expenseItems .addingArea {
		color: white;
		font-size: 20px;
		font-weight: 900;
	}
	.row.expense-holder {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 30px;
		padding: 10px 38px;
		max-width: 90%;
		transition: all 0.3s ease-in-out;
		position: relative;
	}
	.row.expense-holder button {
		position: absolute;
		width: 60px;
		min-width: 60px;
		height: 25px;
		right: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-right:9px;
	}
	.row.expense-holder:hover {
		box-shadow: 4px 5px 10px grey;
		background-color: rgba(255,255,255,0.5);
		border-radius: 25px;
		width: 80%;
		margin-left: 5%;
		/* margin-top: -1%; */
		z-index: 100;
		/* color: rgb(64, 119, 171); */
		cursor: pointer;
	}
	.row.expense-holder .spend {
		/* color: #0a900a; */
		color: rgb(64, 119, 171);
	}
	.module.expenseItems .expenseArea {
		width: 104%;
		overflow: auto;
		max-height: 550px;
		margin-top: 20px;
		margin-left: -2%;
		background-color: rgba(255,255,255,0.2);
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
	}
