@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
body {
  font-family: 'Roboto Slab', sans-serif;
  background-image: url("/img/the_background_compressed.jpg");
  background-attachment: fixed;
  background-size: 100%;
  margin: 0; }

.budgify-app {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  background-attachment: fixed; }

.row {
  display: inline-block;
  width: 100%;
  padding: 10px 10px; }
  .row .column {
    display: inline-block;
    width: 100%; }
    .row .column.half {
      width: 50%; }
    .row .column.third {
      width: 33.5%; }
    .row .column.quarter {
      width: 25%; }
    .row .column.fifth {
      width: 20%; }

.budgify-app:hover {
  box-shadow: 3px 3px 40px grey; }

.module {
  padding: 20px 40px; }

.main-module {
  width: 50%;
  display: inline-block; }
  .main-module:last-child {
    width: 35%;
    vertical-align: top; }
  .main-module #change-area {
    background-color: rgba(64, 165, 171, 0.2);
    padding: 20px 15px;
    border-radius: 25px; }
    .main-module #change-area .dateRange {
      background-color: rgba(64, 165, 171, 0.5); }

.budgify-app .title {
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  color: #4077ab;
  text-shadow: 1px 2px 7px grey;
  padding: 20px 40px 90px 60px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  font-size: 80px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  letter-spacing: 3px; }

.currentBalance {
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 45px;
  color: #40a5ab;
  font-weight: 700;
  text-shadow: 1px 1px 2px black; }

.reset {
  border-radius: 35px;
  margin: 15px 0 3px 20px;
  min-width: 0;
  height: 30px;
  padding: 0 20px 0 20px;
  float: left;
  font-size: 12px;
  background-color: rgba(244, 155, 66, 0.8);
  border: 1px solid white;
  color: white; }
  .reset:first-of-type {
    margin-left: 60px; }

#change-area {
  padding-left: 40px;
  padding-top: 0 !important; }
  #change-area .showingPlace {
    padding: 20px 0 0 0; }
  #change-area .shower {
    background-color: rgba(255, 255, 255, 0.2);
    width: 98%;
    margin-left: -2.5%;
    padding: 7px 20px;
    font-size: 17px; }
    #change-area .shower:first-child {
      border-top-right-radius: 25px;
      border-top-left-radius: 25px; }
    #change-area .shower hr {
      margin: 1px 0;
      border: none;
      height: 1px;
      background-color: white; }
  #change-area .changer {
    padding: 5px 0; }
  #change-area .shower div {
    color: white;
    width: 50%;
    display: inline-block; }
    #change-area .shower div.subtitle {
      font-size: 19px;
      font-weight: 700;
      width: 100%; }
  #change-area .range-change-button-area {
    padding: 30px 0 10px 0;
    min-height: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; }

input, button, select {
  height: 40px;
  border: 1px solid grey;
  transition: all 0.4s ease;
  font-size: 17px;
  font-weight: 700;
  padding-left: 10px;
  margin-right: 10px; }

button:hover, select:hover {
  cursor: pointer;
  background-color: rgba(64, 165, 171, 0.6);
  color: white;
  border-color: white; }

input {
  border-radius: 10px;
  min-width: 115px;
  transition: all 0.3s ease-in-out; }
  input:hover {
    transform: scale(1.2);
    opacity: 0.9; }

button {
  border-radius: 2px;
  margin: 0 0px;
  min-width: 200px;
  float: right; }
  button.range-change-button {
    float: left !important; }

.adding-button {
  min-width: 0;
  width: 60px; }

select {
  width: 250px; }
  select:hover {
    transform: scale(1.2);
    opacity: 0.9; }

.spendingArea {
  display: none;
  padding: 24px 15px 0 15px;
  background-color: rgba(64, 165, 171, 0.2);
  border: 3px solid slate;
  border-radius: 25px;
  position: relative;
  overflow: hidden; }
  .spendingArea.showtime {
    display: block; }
  .spendingArea .categorization {
    width: 104%;
    overflow: auto;
    max-height: 550px;
    height: 550px;
    margin-top: 20px;
    margin-left: -2%;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px; }
    .spendingArea .categorization .cat-info {
      padding: 20px 50px;
      display: none; }
      .spendingArea .categorization .cat-info div {
        color: white;
        font-size: 24px;
        padding: 10px 0; }
      .spendingArea .categorization .cat-info.active {
        display: block; }
    .spendingArea .categorization .category-popup {
      background-color: rgba(0, 0, 0, 0.3);
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      display: none;
      z-index: 1; }
      .spendingArea .categorization .category-popup.active {
        display: flex;
        justify-content: center;
        align-items: center; }
      .spendingArea .categorization .category-popup .pop-content {
        position: relative;
        padding: 55px 20px 20px 20px;
        overflow: scroll;
        background-color: rgba(64, 165, 171, 0.9);
        height: 600px;
        width: 700px; }
        .spendingArea .categorization .category-popup .pop-content .addcat-title {
          color: black;
          padding: 10px 20px;
          font-size: 30px;
          position: fixed;
          top: 139px;
          left: 470px;
          width: 700px;
          background-color: rgba(255, 255, 255, 0.8); }
          .spendingArea .categorization .category-popup .pop-content .addcat-title input {
            margin-left: 90px; }
        .spendingArea .categorization .category-popup .pop-content .colnames .quarter {
          font-size: 18px;
          color: orange; }
        .spendingArea .categorization .category-popup .pop-content .delete {
          right: -45px; }
  .spendingArea ul.categories {
    padding-left: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    height: 30px; }
  .spendingArea .categories li {
    display: inline;
    padding: 24px 10px;
    color: white;
    font-weight: 900;
    font-size: 20px;
    border-right: solid 2px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease; }
    .spendingArea .categories li:hover {
      background-color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      color: black; }
    .spendingArea .categories li:last-child {
      border-right: none; }

.module.expenseItems {
  padding-top: 0; }
  .module.expenseItems .addingArea {
    padding: 20px 15px 0 15px;
    background-color: rgba(64, 165, 171, 0.2);
    border: 3px solid slate;
    border-radius: 25px;
    position: relative;
    display: none; }
    .module.expenseItems .addingArea.showtime {
      display: block; }

.gettingSpending {
  position: relative; }
  .gettingSpending .toggleArea {
    color: white;
    font-size: 20px;
    font-weight: 900;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    overflow: hidden;
    position: absolute;
    top: -8.8%;
    right: 3%;
    display: inline-block; }
    .gettingSpending .toggleArea .toggle {
      transition: all 0.3s ease-out;
      position: static;
      display: inline-block;
      padding: 15px 20px;
      background-color: rgba(255, 255, 255, 0.2); }
      .gettingSpending .toggleArea .toggle.active {
        background-color: rgba(64, 165, 171, 0.3);
        transition: all 0.3s ease-out;
        cursor: pointer; }
      .gettingSpending .toggleArea .toggle:not(.active):hover {
        background-color: rgba(255, 255, 255, 0.4);
        cursor: pointer; }

.module.expenseItems .addingArea {
  color: white;
  font-size: 20px;
  font-weight: 900; }

.row.expense-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  padding: 10px 38px;
  max-width: 90%;
  transition: all 0.3s ease-in-out;
  position: relative; }
  .row.expense-holder button {
    position: absolute;
    width: 60px;
    min-width: 60px;
    height: 25px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding-right: 9px; }
  .row.expense-holder:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer; }
  .row.expense-holder .spend {
    color: #4077ab; }

.module.expenseItems .expenseArea {
  width: 104%;
  overflow: auto;
  max-height: 550px;
  margin-top: 20px;
  margin-left: -2%;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; }

.module #deleted-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  z-index: -100;
  opacity: 0;
  transition: all 0.7s ease-out; }
  .module #deleted-overlay.showing {
    z-index: 100;
    opacity: 1; }

.module #deleted-popup {
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(64, 165, 171, 0.9);
  border-radius: 25px;
  color: white;
  font-weight: 900;
  font-size: 35px; }

.weekifier {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px 35px;
  min-width: 157px;
  border-radius: 20px;
  position: fixed;
  top: 20px;
  right: 28.8%; }
  .weekifier.daily {
    right: 10%; }
  .weekifier.surplus {
    right: 62.8%; }
  .weekifier.daily-surplus {
    right: 44.8%; }
  .weekifier.surplus:before, .weekifier.surplus:after, .weekifier.daily-surplus:before, .weekifier.daily-surplus:after {
    content: '';
    background: none;
    animation: none;
    cursor: auto; }
  .weekifier:before {
    content: '';
    font-weight: 900;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    height: 100%;
    width: 10%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    left: 0;
    top: 0;
    animation: pulse 1s infinite; }
  .weekifier:after {
    content: '';
    font-weight: 900;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.7);
    height: 100%;
    width: 10%;
    position: absolute;
    right: 0;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 0;
    animation: pulse 1s ease-out infinite; }
  .weekifier .invisaclick {
    position: absolute;
    height: 100%;
    width: 10%;
    opacity: 0;
    top: 0;
    cursor: pointer;
    z-index: 1000; }
    .weekifier .invisaclick.left {
      left: 0; }
    .weekifier .invisaclick.right {
      right: 0; }
  .weekifier .statusTitle {
    font-size: 22px;
    font-weight: 700;
    color: #4077ab; }
  .weekifier .surplus {
    color: white;
    font-size: 35px; }

@keyframes none {
  0%, 100% {
    background-color: rgba(255, 255, 255, 0.2); } }

@keyframes pulse {
  0%, 100% {
    background-color: rgba(255, 255, 255, 0.2); }
  50% {
    background-color: rgba(255, 255, 255, 0.4); } }

.visualizerea {
  background-color: rgba(64, 165, 171, 0.2);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px; }

.arc path {
  stroke: #ffffff; }

svg g text {
  fill: white;
  font-size: 24px; }
